<a href="https://colab.research.google.com/github/devikaranidivvela/AI-Enabled-Visa-Status-Prediction-and-Processing-Time-Estimator/blob/main/Visa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [234]:
!mkdir ~p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘~p’: File exists
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [235]:
#API to fetch the dataset from kaggle
!kaggle datasets download -d jboysen/us-perm-visas

Dataset URL: https://www.kaggle.com/datasets/jboysen/us-perm-visas
License(s): CC0-1.0
us-perm-visas.zip: Skipping, found more recently modified local copy (use --force to force download)

In [236]:
#extracting a compressed dataset from zip file
from zipfile import ZipFile
dataset = '/content/us-perm-visas.zip'
with ZipFile(dataset,'r') as zip:#r-read
  zip.extractall()
  print('The dataset is extracted')

The dataset is extracted

**Importing the Dependencies**

In [237]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [238]:
df=pd.read_csv('/content/us_perm_visas.csv')
df.head(10)

/tmp/ipython-input-703573396.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,10,11,16,17,20,21,22,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,45,47,48,49,50,51,52,53,55,56,57,58,59,60,61,63,64,65,66,68,69,70,71,72,73,74,77,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,100,101,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,153) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/us_perm_visas.csv')

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,NaN,NaN,NaN,PERM,A-07323-97014,NaN,NaN,Certified,J-1,...,NaN,NaN,NaN,IT,75629.0,NaN,yr,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,PERM,A-07332-99439,NaN,NaN,Denied,B-2,...,NaN,NaN,NaN,Other Economic Sector,37024.0,NaN,yr,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,PERM,A-07333-99643,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,Aerospace,47923.0,NaN,yr,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,PERM,A-07339-01930,NaN,NaN,Certified,B-2,...,NaN,NaN,NaN,Other Economic Sector,10.97,NaN,hr,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,PERM,A-07345-03565,NaN,NaN,Certified,L-1,...,NaN,NaN,NaN,Advanced Mfg,100000.0,NaN,yr,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,PERM,A-07352-06288,NaN,NaN,Denied,EWI,...,NaN,NaN,NaN,Other Economic Sector,37024.0,NaN,yr,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,PERM,A-07354-06926,NaN,NaN,Certified-Expired,H-1B,...,NaN,NaN,NaN,Educational Services,47084.0,52000.0,yr,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,PERM,A-08004-10147,NaN,NaN,Denied,E-2,...,NaN,NaN,NaN,Advanced Mfg,36733.0,NaN,yr,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,PERM,A-08004-10184,NaN,NaN,Certified,H-1B,...,NaN,NaN,NaN,IT,44824.0,85000.0,yr,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,PERM,A-08010-11785,NaN,NaN,Denied,E-2,...,NaN,NaN,NaN,Retail,12.86,16.82,hr,NaN,NaN,NaN

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374362 entries, 0 to 374361
Columns: 154 entries, add_these_pw_job_title_9089 to wage_offered_unit_of_pay_9089
dtypes: float64(10), object(144)
memory usage: 439.8+ MB

In [240]:
df.shape

(374362, 154)

In [241]:
df.columns

Index(['add_these_pw_job_title_9089', 'agent_city', 'agent_firm_name',
       'agent_state', 'application_type', 'case_no', 'case_number',
       'case_received_date', 'case_status', 'class_of_admission',
       ...
       'ri_pvt_employment_firm_to', 'ri_us_workers_considered',
       'schd_a_sheepherder', 'us_economic_sector', 'wage_offer_from_9089',
       'wage_offer_to_9089', 'wage_offer_unit_of_pay_9089',
       'wage_offered_from_9089', 'wage_offered_to_9089',
       'wage_offered_unit_of_pay_9089'],
      dtype='object', length=154)

In [242]:
df.isnull().sum()

add_these_pw_job_title_9089      332168
agent_city                       162908
agent_firm_name                  167365
agent_state                      166123
application_type                 239093
                                  ...
wage_offer_to_9089               300728
wage_offer_unit_of_pay_9089      115916
wage_offered_from_9089           259715
wage_offered_to_9089             343347
wage_offered_unit_of_pay_9089    303663
Length: 154, dtype: int64

In [243]:
important_cols=['case_number',
                'case_received_date',
                'case_status',
                'class_of_admission',
                'country_of_citizenship',
                'decision_date',
                'job_info_job_title',
                'job_info_education',
                'agent_state',
                'agent_city']

In [244]:
df=df[important_cols]
df

,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,decision_date,job_info_job_title,job_info_education,agent_state,agent_city
0,NaN,NaN,Certified,J-1,NaN,2012-02-01,NaN,NaN,NaN,NaN
1,NaN,NaN,Denied,B-2,NaN,2011-12-21,NaN,NaN,NaN,NaN
2,NaN,NaN,Certified,H-1B,NaN,2011-12-01,NaN,NaN,NaN,NaN
3,NaN,NaN,Certified,B-2,NaN,2011-12-01,NaN,NaN,NaN,NaN
4,NaN,NaN,Certified,L-1,NaN,2012-01-26,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
374357,A-16363-85407,2016-12-29,Withdrawn,NaN,SOUTH KOREA,2016-12-30,Office Assistant,Associate's,CA,Buena Park
374358,A-16271-56745,2016-12-30,Withdrawn,L-1,VIETNAM,2016-12-30,Software Engineer II,Master's,WA,Seattle
374359,A-16354-82345,2016-12-30,Withdrawn,H-1B,INDIA,2016-12-30,Computer Systems Analyst,Master's,IL,Schaumburg
374360,A-16357-84250,2016-12-30,Withdrawn,B-2,SOUTH KOREA,2016-12-30,Accounting Clerk,NaN,CA,LOS ANGELES
374361,A-16279-59292,2016-12-30,Withdrawn,H-1B,CHINA,2016-12-30,Component Design Engineer,Master's,AZ,Phoenix

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374362 entries, 0 to 374361
Data columns (total 10 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   case_number             239093 non-null  object
 1   case_received_date      239091 non-null  object
 2   case_status             374362 non-null  object
 3   class_of_admission      351517 non-null  object
 4   country_of_citizenship  353729 non-null  object
 5   decision_date           374362 non-null  object
 6   job_info_job_title      239049 non-null  object
 7   job_info_education      216313 non-null  object
 8   agent_state             208239 non-null  object
 9   agent_city              211454 non-null  object
dtypes: object(10)
memory usage: 28.6+ MB

In [246]:
df.isnull().sum()

case_number               135269
case_received_date        135271
case_status                    0
class_of_admission         22845
country_of_citizenship     20633
decision_date                  0
job_info_job_title        135313
job_info_education        158049
agent_state               166123
agent_city                162908
dtype: int64

**Cleaning the data**

In [247]:
df['case_received_date']=pd.to_datetime(df['case_received_date'])

In [248]:
df=df.dropna(subset=['case_received_date'])

In [249]:
df['case_received_date'].isnull().sum()

np.int64(0)

**Computation Of Target Variable(Processing_dates):** No.of days between Decision_date and case_received_date

In [250]:
df['decision_date']=pd.to_datetime(df['decision_date'])
df['processing_days']=(df['decision_date']-df['case_received_date']).dt.days
df['processing_days']

/tmp/ipython-input-2613333106.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['decision_date']=pd.to_datetime(df['decision_date'])
/tmp/ipython-input-2613333106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['processing_days']=(df['decision_date']-df['case_received_date']).dt.days

135269    556
135270    591
135271    323
135272    559
135273    591
         ...
374357      1
374358      0
374359      0
374360      0
374361      0
Name: processing_days, Length: 239091, dtype: int64

In [251]:
df.isnull().sum()

case_number                   0
case_received_date            0
case_status                   0
class_of_admission        16068
country_of_citizenship       34
decision_date                 0
job_info_job_title           44
job_info_education        22780
agent_state               30854
agent_city                27639
processing_days               0
dtype: int64

In [252]:
df['class_of_admission'].value_counts()

class_of_admission
H-1B          174334
L-1            14581
F-1            11176
Not in USA      7420
TN              2969
E-2             2916
B-2             2117
EWI              960
Parolee          884
F-2              714
J-1              670
E-3              601
O-1              543
H-4              439
B-1              379
L-2              369
E-1              347
H-1B1            278
H-2B             270
TPS              148
P-1              135
A1/A2            107
H-2A              96
J-2               83
R-1               76
G-4               67
I                 55
G-5               37
VWT               36
P-3               33
H-3               25
H-1A              22
M-1               18
C-1               18
A-3               17
O-2               15
TD                11
O-3                8
G-1                8
C-3                7
VWB                6
R-2                6
Q                  4
P-4                4
D-1                4
M-2                3
N                  2
V-2                2
K-1                1
T-1                1
P-2                1
Name: count, dtype: int64

In [253]:
df['class_of_admission']=df['class_of_admission'].fillna('Unknown_Class')

/tmp/ipython-input-647492056.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['class_of_admission']=df['class_of_admission'].fillna('Unknown_Class')

In [254]:
df.isnull().sum()

case_number                   0
case_received_date            0
case_status                   0
class_of_admission            0
country_of_citizenship       34
decision_date                 0
job_info_job_title           44
job_info_education        22780
agent_state               30854
agent_city                27639
processing_days               0
dtype: int64

In [255]:
df.shape

(239091, 11)

In [256]:
df['country_of_citizenship']=df['country_of_citizenship'].fillna(df['country_of_citizenship'].mode()[0])

/tmp/ipython-input-2440853900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['country_of_citizenship']=df['country_of_citizenship'].fillna(df['country_of_citizenship'].mode()[0])

In [257]:
df.isnull().sum()

case_number                   0
case_received_date            0
case_status                   0
class_of_admission            0
country_of_citizenship        0
decision_date                 0
job_info_job_title           44
job_info_education        22780
agent_state               30854
agent_city                27639
processing_days               0
dtype: int64

In [258]:
df['country_of_citizenship'].value_counts()

country_of_citizenship
INDIA                       130741
CHINA                        20177
SOUTH KOREA                  18209
CANADA                        8509
MEXICO                        5282
                             ...
CAYMAN ISLANDS                   1
COMOROS                          1
TURKS AND CAICOS ISLANDS         1
SINT MAARTEN                     1
VANUATU                          1
Name: count, Length: 195, dtype: int64

In [259]:
df['job_info_job_title'].unique()

array(['Senior Engineer', 'Catfish Processor',
       'Protein Production Scientist', ...,
       'Computer Systems Analyst, Data Integration',
       'Senior .NET Developer(s)',
       'Assistant Vice President, Divisional Business Information Security Officer'],
      dtype=object)

In [260]:
df['job_info_job_title']=df['job_info_job_title'].fillna(df['job_info_job_title'].mode()[0])

/tmp/ipython-input-2899645856.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_info_job_title']=df['job_info_job_title'].fillna(df['job_info_job_title'].mode()[0])

In [261]:
df.isnull().sum()

case_number                   0
case_received_date            0
case_status                   0
class_of_admission            0
country_of_citizenship        0
decision_date                 0
job_info_job_title            0
job_info_education        22780
agent_state               30854
agent_city                27639
processing_days               0
dtype: int64

In [262]:
df['job_info_education']=df['job_info_education'].fillna('Unknown')
df['agent_city']=df['agent_city'].fillna('Unknown_City')
df['agent_state']=df['agent_state'].fillna('Unknown_State')

/tmp/ipython-input-1445464243.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['job_info_education']=df['job_info_education'].fillna('Unknown')
/tmp/ipython-input-1445464243.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agent_city']=df['agent_city'].fillna('Unknown_City')
/tmp/ipython-input-1445464243.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['agent_state']=df['agent_state'].fillna('Unknown_State')

In [263]:
df.isnull().sum()

case_number               0
case_received_date        0
case_status               0
class_of_admission        0
country_of_citizenship    0
decision_date             0
job_info_job_title        0
job_info_education        0
agent_state               0
agent_city                0
processing_days           0
dtype: int64

In [264]:
df

,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,decision_date,job_info_job_title,job_info_education,agent_state,agent_city,processing_days
135269,A-13316-14231,2013-11-19,Certified,H-1B,INDIA,2015-05-29,Senior Engineer,Bachelor's,WISCONSIN,Milwaukee,556
135270,A-13316-14287,2013-11-12,Denied,Unknown_Class,SOUTH KOREA,2015-06-26,Catfish Processor,Unknown,NORTH CAROLINA,RALEIGH,591
135271,A-13316-14312,2013-11-27,Denied,H-1B,GERMANY,2014-10-16,Protein Production Scientist,Doctorate,COLORADO,Littleton,323
135272,A-13316-14276,2013-11-13,Certified,E-2,SOUTH KOREA,2015-05-26,Market Research Analyst,Master's,CALIFORNIA,Los Angeles,559
135273,A-13316-14275,2013-11-12,Denied,Unknown_Class,SOUTH KOREA,2015-06-26,Catfish Processor,Unknown,NORTH CAROLINA,RALEIGH,591
...,...,...,...,...,...,...,...,...,...,...,...
374357,A-16363-85407,2016-12-29,Withdrawn,Unknown_Class,SOUTH KOREA,2016-12-30,Office Assistant,Associate's,CA,Buena Park,1
374358,A-16271-56745,2016-12-30,Withdrawn,L-1,VIETNAM,2016-12-30,Software Engineer II,Master's,WA,Seattle,0
374359,A-16354-82345,2016-12-30,Withdrawn,H-1B,INDIA,2016-12-30,Computer Systems Analyst,Master's,IL,Schaumburg,0
374360,A-16357-84250,2016-12-30,Withdrawn,B-2,SOUTH KOREA,2016-12-30,Accounting Clerk,Unknown,CA,LOS ANGELES,0
374361,A-16279-59292,2016-12-30,Withdrawn,H-1B,CHINA,2016-12-30,Component Design Engineer,Master's,AZ,Phoenix,0

In [265]:
df['job_info_education'].unique()

array(["Bachelor's", 'Unknown', 'Doctorate', "Master's", 'High School',
       "Associate's", 'Other'], dtype=object)

In [266]:
df['job_info_job_title'].unique()

array(['Senior Engineer', 'Catfish Processor',
       'Protein Production Scientist', ...,
       'Computer Systems Analyst, Data Integration',
       'Senior .NET Developer(s)',
       'Assistant Vice President, Divisional Business Information Security Officer'],
      dtype=object)

In [267]:
df['agent_city'].unique()

array(['Milwaukee', 'RALEIGH', 'Littleton', ..., 'East Bruswick',
       'DOWNEY', 'Dalton'], dtype=object)

In [268]:
df['agent_state'].unique()

array(['WISCONSIN', 'NORTH CAROLINA', 'COLORADO', 'CALIFORNIA',
       'MICHIGAN', 'NEW YORK', 'Unknown_State', 'TEXAS', 'PENNSYLVANIA',
       'NEW JERSEY', 'MISSOURI', 'FLORIDA', 'VIRGINIA', 'OHIO',
       'DISTRICT OF COLUMBIA', 'INDIANA', 'GEORGIA', 'MASSACHUSETTS',
       'ILLINOIS', 'ALABAMA', 'OKLAHOMA', 'WASHINGTON', 'CONNECTICUT',
       'MINNESOTA', 'ARKANSAS', 'HAWAII', 'MARYLAND', 'UTAH',
       'PUERTO RICO', 'ARIZONA', 'NEVADA', 'NEW HAMPSHIRE', 'OREGON',
       'KANSAS', 'NEW MEXICO', 'VERMONT', 'TENNESSEE', 'NEBRASKA',
       'LOUISIANA', 'KENTUCKY', 'GUAM', 'IOWA', 'SOUTH CAROLINA',
       'RHODE ISLAND', 'MAINE', 'IDAHO', 'NORTH DAKOTA', 'ALASKA',
       'MISSISSIPPI', 'DELAWARE', 'MARSHALL ISLANDS', 'SOUTH DAKOTA',
       'MONTANA', 'WEST VIRGINIA', 'NE', 'FL', 'TX', 'CA', 'NY', 'GA',
       'MA', 'DC', 'IL', 'VA', 'NC', 'MD', 'TN', 'LA', 'NJ', 'HI', 'PA',
       'MI', 'MO', 'WI', 'OK', 'AZ', 'OR', 'MN', 'OH', 'CT', 'UT', 'SC',
       'AL', 'WA', 'IN', 'NH', 'CO', 'VT', 'IA', 'RI', 'ME', 'KS', 'MS',
       'PR', 'DE', 'KY', 'GU', 'NM', 'AR', 'SD', 'NV', 'MP', 'ND', 'MT',
       'AK', 'WV', 'ID', 'WY', 'VI'], dtype=object)

In [269]:
df['class_of_admission'].unique()

array(['H-1B', 'Unknown_Class', 'E-2', 'F-1', 'Not in USA', 'L-1',
       'Parolee', 'E-1', 'EWI', 'B-2', 'TN', 'J-1', 'R-1', 'F-2', 'H-1B1',
       'H-2B', 'VWT', 'P-1', 'B-1', 'A1/A2', 'C-1', 'VWB', 'L-2', 'H-4',
       'G-5', 'O-1', 'E-3', 'P-3', 'TPS', 'J-2', 'G-4', 'A-3', 'H-1A',
       'H-2A', 'M-1', 'I', 'H-3', 'Q', 'G-1', 'R-2', 'N', 'D-1', 'TD',
       'C-3', 'P-4', 'O-2', 'K-1', 'O-3', 'V-2', 'T-1', 'M-2', 'P-2'],
      dtype=object)

In [270]:
df['country_of_citizenship'].unique()

array(['INDIA', 'SOUTH KOREA', 'GERMANY', 'CANADA', 'BRAZIL', 'CHINA',
       'BELARUS', 'PAKISTAN', 'GUATEMALA', 'MEXICO', 'TURKEY',
       'ARGENTINA', 'ECUADOR', 'COLOMBIA', 'FRANCE', 'JAPAN', 'UKRAINE',
       'PHILIPPINES', 'GUYANA', 'AUSTRALIA', 'ISRAEL', 'NEPAL', 'RUSSIA',
       'UNITED STATES OF AMERICA', 'PERU', 'SOUTH AFRICA', 'EGYPT',
       'UNITED KINGDOM', 'TANZANIA', 'GRENADA', 'PANAMA', 'UZBEKISTAN',
       'DOMINICA', 'POLAND', 'NEW ZEALAND', 'KENYA', 'HONDURAS',
       'MALAYSIA', 'UGANDA', 'NIGERIA', 'IRELAND', 'BOLIVIA', 'URUGUAY',
       'ITALY', 'ZIMBABWE', 'EL SALVADOR', 'JAMAICA', 'TAIWAN',
       'SLOVAKIA', 'INDONESIA', 'LEBANON', 'SPAIN', 'HUNGARY',
       'TRINIDAD AND TOBAGO', 'DOMINICAN REPUBLIC', 'BULGARIA',
       'HONG KONG', 'YUGOSLAVIA', 'VENEZUELA', 'BURMA (MYANMAR)',
       'ROMANIA', 'ALBANIA', 'TOGO', 'NETHERLANDS', 'CHILE', 'PORTUGAL',
       'ST LUCIA', 'VIETNAM', 'THAILAND', 'MOROCCO', 'IRAN', 'BELIZE',
       'CROATIA', 'BHUTAN', 'SAUDI ARABIA', 'SRI LANKA', 'SINGAPORE',
       'GREECE', 'JORDAN', 'MALAWI', 'NICARAGUA', 'DENMARK', 'KYRGYZSTAN',
       'GEORGIA', 'SWEDEN', 'CZECH REPUBLIC', 'MOLDOVA', 'BANGLADESH',
       'ARMENIA', 'BOSNIA AND HERZEGOVINA', 'ZAMBIA', 'BARBADOS', 'SYRIA',
       'LITHUANIA', 'SENEGAL', 'AUSTRIA', 'GHANA', 'FINLAND',
       'COSTA RICA', 'DEMOCRATIC REPUBLIC OF CONGO', 'MONGOLIA', 'FIJI',
       'CAMBODIA', 'ANGOLA', 'ICELAND', 'SWITZERLAND', 'KOSOVO',
       'PARAGUAY', 'MACEDONIA', 'LIBYA', 'SLOVENIA', 'SERBIA', 'ETHIOPIA',
       'SURINAME', 'AFGHANISTAN', 'TURKMENISTAN', 'ALGERIA', 'KAZAKHSTAN',
       'PALESTINIAN TERRITORIES', 'BAHAMAS', 'CAMEROON', 'BELGIUM',
       'SERBIA AND MONTENEGRO', 'GUINEA-BISSAU', 'NORWAY', 'ESTONIA',
       'TAJIKISTAN', 'MONTENEGRO', 'LATVIA', 'MACAU', "COTE d'IVOIRE",
       'HAITI', 'MARSHALL ISLANDS', 'BAHRAIN', 'PALESTINE', 'SEYCHELLES',
       'AZERBAIJAN', 'TUNISIA', 'SAINT VINCENT AND THE GRENADINES',
       'GAMBIA', 'BURKINA FASO', 'UNITED ARAB EMIRATES', 'ERITREA',
       'MADAGASCAR', 'SUDAN', 'IRAQ', 'SOUTH SUDAN',
       'ANTIGUA AND BARBUDA', 'SIERRA LEONE', 'BERMUDA', 'CYPRUS',
       'IVORY COAST', 'YEMEN', 'NETHERLANDS ANTILLES', 'GUINEA',
       'KIRIBATI', 'LAOS', 'ST KITTS AND NEVIS', 'GABON', 'BENIN',
       'MAURITIUS', 'MALI', 'BOTSWANA', 'EQUATORIAL GUINEA', 'RWANDA',
       'BURUNDI', 'MALDIVES', 'KUWAIT', 'SAMOA', 'REPUBLIC OF CONGO',
       'LUXEMBOURG', 'NIGER', 'NAMIBIA', 'BRITISH VIRGIN ISLANDS',
       'SAO TOME AND PRINCIPE', 'MAURITANIA', 'ST VINCENT',
       'LIECHTENSTEIN', 'SOMALIA', 'CUBA', 'SWAZILAND', 'MALTA',
       'ANDORRA', 'CAPE VERDE', 'SOVIET UNION', 'LESOTHO', 'NORTH KOREA',
       'CAYMAN ISLANDS', 'CHAD', 'COMOROS', 'BRUNEI',
       'TURKS AND CAICOS ISLANDS', 'LIBERIA', 'SINT MAARTEN', 'VANUATU'],
      dtype=object)

In [271]:
from sklearn.model_selection import train_test_split
train_df,test_df=train_test_split(df,test_size=0.2,random_state=42)
print("Train shape:",train_df.shape)
print("Test shape:",test_df.shape)

Train shape: (191272, 11)
Test shape: (47819, 11)

**Applying Encoding Techniques to the columns**

In [272]:
global_mean = train_df['processing_days'].mean()

In [273]:
import re
def job_group(title):
    t = str(title).lower()
    if re.search(r'engineer|developer|software|architect|dev|programmer|computer', t):
        return 'Engineering'
    if re.search(r'analyst|data', t):
        return 'Analyst'
    if re.search(r'scientist|research|lab|chemist|bio|pharma', t):
        return 'Science'
    if re.search(r'manager|director|vice president|vp|lead|supervisor', t):
        return 'Management'
    if 'technician' in t or 'tech' in t:
        return 'Technician'
    if re.search(r'nurse|medical|dental|therap', t):
        return 'Healthcare'
    if re.search(r'teacher|professor|instructor', t):
        return 'Education'
    return 'Other'

In [274]:
if 'job_info_job_title' in train_df.columns:
    train_df['job_category'] = train_df['job_info_job_title'].apply(job_group)
    test_df['job_category']  = test_df['job_info_job_title'].apply(job_group)

    # one-hot encode job_category on train and align on test
    job_dummies_train = pd.get_dummies(train_df['job_category'],dtype=int,prefix='job')
    job_dummies_test  = pd.get_dummies(test_df['job_category'],dtype=int,prefix='job')
    job_dummies_test = job_dummies_test.reindex(columns=job_dummies_train.columns, fill_value=0)

    train_df = pd.concat([train_df, job_dummies_train], axis=1)
    test_df  = pd.concat([test_df, job_dummies_test], axis=1)

    # frequency encoding of raw title (train stats)
    job_freq = train_df['job_info_job_title'].value_counts().to_dict()
    train_df['job_title_freq'] = train_df['job_info_job_title'].map(job_freq).fillna(0)
    test_df['job_title_freq']  = test_df['job_info_job_title'].map(job_freq).fillna(0)
else:
    print("Warning: job_info_job_title not found in df")

In [275]:
if 'agent_city' in train_df.columns:
    city_freq = train_df['agent_city'].value_counts().to_dict()
    train_df['agent_city_freq'] = train_df['agent_city'].map(city_freq).fillna(0)
    test_df['agent_city_freq']  = test_df['agent_city'].map(city_freq).fillna(0)

In [276]:
if 'agent_state' in train_df.columns:
    state_tgt = train_df.groupby('agent_state')['processing_days'].mean().to_dict()
    train_df['agent_state_tgt'] = train_df['agent_state'].map(state_tgt).fillna(global_mean)
    test_df['agent_state_tgt']  = test_df['agent_state'].map(state_tgt).fillna(global_mean)

In [277]:
if 'country_of_citizenship' in train_df.columns:
    country_tgt = train_df.groupby('country_of_citizenship')['processing_days'].mean().to_dict()
    train_df['citizenship'] = train_df['country_of_citizenship'].map(country_tgt).fillna(global_mean)
    test_df['citizenship']  = test_df['country_of_citizenship'].map(country_tgt).fillna(global_mean)

In [278]:
if 'class_of_admission' in train_df.columns:
    visa_type= train_df.groupby('class_of_admission')['processing_days'].mean().to_dict()
    train_df['visa_type'] = train_df['class_of_admission'].map(visa_type).fillna(global_mean)
    test_df['visa_type']  = test_df['class_of_admission'].map(visa_type).fillna(global_mean)

In [279]:
train_df

,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,decision_date,job_info_job_title,job_info_education,agent_state,agent_city,...,job_Healthcare,job_Management,job_Other,job_Science,job_Technician,job_title_freq,agent_city_freq,agent_state_tgt,citizenship,visa_type
307194,A-16028-66173,2016-02-08,Certified,H-1B,CHINA,2016-06-02,System Development Specialist,Master's,TX,Austin,...,0,0,0,0,0,3,1207,169.113092,196.031157,204.369608
218429,A-13129-62781,2013-05-16,Certified-Expired,H-1B,INDIA,2014-12-03,IT Project Manager - Java J2EE,Bachelor's,Unknown_State,Unknown_City,...,0,1,0,0,0,1,22144,236.964303,204.669399,204.369608
262451,A-15228-08915,2015-08-16,Certified-Expired,H-1B,INDIA,2016-02-01,Design Researcher 2 - Cloud and Enterprise Eng...,Master's,GA,Atlanta,...,0,0,0,1,0,1,5652,154.685014,204.669399,204.369608
214400,A-14279-13298,2014-12-09,Certified,H-1B,INDIA,2015-06-25,Process Engineer III,Master's,TEXAS,Austin,...,0,0,0,0,0,9,1207,286.235890,204.669399,204.369608
236225,A-15120-72267,2015-05-11,Certified-Expired,H-1B,TAIWAN,2015-11-19,Computer Programmer,Master's,CA,San Jose,...,0,0,0,0,0,573,1938,162.909016,202.248992,204.369608
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255150,A-15182-93810,2015-07-13,Certified-Expired,Unknown_Class,INDIA,2016-01-13,Software Developer,Master's,TX,Houston,...,0,0,0,0,0,2414,4087,169.113092,204.669399,235.311816
238965,A-15092-63711,2015-05-29,Certified-Expired,L-1,INDIA,2015-11-23,Senior Software Engineer in Quality,Bachelor's,CA,San Francisco,...,0,0,0,0,0,29,14850,162.909016,204.669399,203.767068
267203,A-15231-10035,2015-09-14,Certified-Expired,H-1B,INDIA,2016-02-12,Senior Quality Assurance Test Engineer,Master's,MO,St. Louis,...,0,0,0,0,0,2,444,145.073413,204.669399,204.369608
282138,A-15271-22752,2015-09-30,Certified-Expired,H-1B,INDIA,2016-03-24,Sr. Software Engineer,Master's,CA,San Jose,...,0,0,0,0,0,696,1938,162.909016,204.669399,204.369608
257229,A-15206-02077,2015-07-31,Certified-Expired,F-1,INDIA,2016-01-19,Service Engineer (Eng Serv. Engr.) - GFS - Net...,Master's,CA,Santa Clara,...,0,0,0,0,0,1,6180,162.909016,204.669399,203.703428

In [280]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191272 entries, 307194 to 257229
Data columns (total 25 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   case_number             191272 non-null  object
 1   case_received_date      191272 non-null  datetime64[ns]
 2   case_status             191272 non-null  object
 3   class_of_admission      191272 non-null  object
 4   country_of_citizenship  191272 non-null  object
 5   decision_date           191272 non-null  datetime64[ns]
 6   job_info_job_title      191272 non-null  object
 7   job_info_education      191272 non-null  object
 8   agent_state             191272 non-null  object
 9   agent_city              191272 non-null  object
 10  processing_days         191272 non-null  int64
 11  job_category            191272 non-null  object
 12  job_Analyst             191272 non-null  int64
 13  job_Education           191272 non-null  int64
 14  job_Engineering         191272 non-null  int64
 15  job_Healthcare          191272 non-null  int64
 16  job_Management          191272 non-null  int64
 17  job_Other               191272 non-null  int64
 18  job_Science             191272 non-null  int64
 19  job_Technician          191272 non-null  int64
 20  job_title_freq          191272 non-null  int64
 21  agent_city_freq         191272 non-null  int64
 22  agent_state_tgt         191272 non-null  float64
 23  citizenship             191272 non-null  float64
 24  visa_type               191272 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(11), object(9)
memory usage: 37.9+ MB

In [281]:

def clean_education_text(x):
    x = str(x).lower().strip()
    # Remove possessive 's or ’s
    x = re.sub(r"'s|’s", "", x)
    # Remove all punctuation
    x = re.sub(r"[^a-zA-Z ]", " ", x)
    # Remove extra spaces
    x = re.sub(r"\s+", " ", x).strip()
    return x

In [282]:
def simplify_education(x):
    x_clean = clean_education_text(x)
    if 'doctorate' in x_clean:
        return 'Doctorate'
    if 'master' in x_clean:
        return 'Master'
    if 'bachelor' in x_clean:
        return 'Bachelor'
    if 'associate' in x_clean:
        return 'Associate'
    if 'high school' in x_clean:
        return 'High_School'
    if 'unknown' in x_clean or x_clean == '':
        return 'Unknown'
    return 'Other'

In [283]:
train_df['edu_simple'] = train_df['job_info_education'].apply(simplify_education)
test_df['edu_simple']  = test_df['job_info_education'].apply(simplify_education)

edu_dummies_train = pd.get_dummies(train_df['edu_simple'],dtype=int)
edu_dummies_test  = pd.get_dummies(test_df['edu_simple'],dtype=int)
edu_dummies_test = edu_dummies_test.reindex(columns=edu_dummies_train.columns, fill_value=0)

train_df = pd.concat([train_df, edu_dummies_train], axis=1)
test_df  = pd.concat([test_df, edu_dummies_test], axis=1)

In [284]:
train_df

,case_number,case_received_date,case_status,class_of_admission,country_of_citizenship,decision_date,job_info_job_title,job_info_education,agent_state,agent_city,...,citizenship,visa_type,edu_simple,Associate,Bachelor,Doctorate,High_School,Master,Other,Unknown
307194,A-16028-66173,2016-02-08,Certified,H-1B,CHINA,2016-06-02,System Development Specialist,Master's,TX,Austin,...,196.031157,204.369608,Master,0,0,0,0,1,0,0
218429,A-13129-62781,2013-05-16,Certified-Expired,H-1B,INDIA,2014-12-03,IT Project Manager - Java J2EE,Bachelor's,Unknown_State,Unknown_City,...,204.669399,204.369608,Bachelor,0,1,0,0,0,0,0
262451,A-15228-08915,2015-08-16,Certified-Expired,H-1B,INDIA,2016-02-01,Design Researcher 2 - Cloud and Enterprise Eng...,Master's,GA,Atlanta,...,204.669399,204.369608,Master,0,0,0,0,1,0,0
214400,A-14279-13298,2014-12-09,Certified,H-1B,INDIA,2015-06-25,Process Engineer III,Master's,TEXAS,Austin,...,204.669399,204.369608,Master,0,0,0,0,1,0,0
236225,A-15120-72267,2015-05-11,Certified-Expired,H-1B,TAIWAN,2015-11-19,Computer Programmer,Master's,CA,San Jose,...,202.248992,204.369608,Master,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255150,A-15182-93810,2015-07-13,Certified-Expired,Unknown_Class,INDIA,2016-01-13,Software Developer,Master's,TX,Houston,...,204.669399,235.311816,Master,0,0,0,0,1,0,0
238965,A-15092-63711,2015-05-29,Certified-Expired,L-1,INDIA,2015-11-23,Senior Software Engineer in Quality,Bachelor's,CA,San Francisco,...,204.669399,203.767068,Bachelor,0,1,0,0,0,0,0
267203,A-15231-10035,2015-09-14,Certified-Expired,H-1B,INDIA,2016-02-12,Senior Quality Assurance Test Engineer,Master's,MO,St. Louis,...,204.669399,204.369608,Master,0,0,0,0,1,0,0
282138,A-15271-22752,2015-09-30,Certified-Expired,H-1B,INDIA,2016-03-24,Sr. Software Engineer,Master's,CA,San Jose,...,204.669399,204.369608,Master,0,0,0,0,1,0,0
257229,A-15206-02077,2015-07-31,Certified-Expired,F-1,INDIA,2016-01-19,Service Engineer (Eng Serv. Engr.) - GFS - Net...,Master's,CA,Santa Clara,...,204.669399,203.703428,Master,0,0,0,0,1,0,0

In [285]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 191272 entries, 307194 to 257229
Data columns (total 33 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   case_number             191272 non-null  object
 1   case_received_date      191272 non-null  datetime64[ns]
 2   case_status             191272 non-null  object
 3   class_of_admission      191272 non-null  object
 4   country_of_citizenship  191272 non-null  object
 5   decision_date           191272 non-null  datetime64[ns]
 6   job_info_job_title      191272 non-null  object
 7   job_info_education      191272 non-null  object
 8   agent_state             191272 non-null  object
 9   agent_city              191272 non-null  object
 10  processing_days         191272 non-null  int64
 11  job_category            191272 non-null  object
 12  job_Analyst             191272 non-null  int64
 13  job_Education           191272 non-null  int64
 14  job_Engineering         191272 non-null  int64
 15  job_Healthcare          191272 non-null  int64
 16  job_Management          191272 non-null  int64
 17  job_Other               191272 non-null  int64
 18  job_Science             191272 non-null  int64
 19  job_Technician          191272 non-null  int64
 20  job_title_freq          191272 non-null  int64
 21  agent_city_freq         191272 non-null  int64
 22  agent_state_tgt         191272 non-null  float64
 23  citizenship             191272 non-null  float64
 24  visa_type               191272 non-null  float64
 25  edu_simple              191272 non-null  object
 26  Associate               191272 non-null  int64
 27  Bachelor                191272 non-null  int64
 28  Doctorate               191272 non-null  int64
 29  High_School             191272 non-null  int64
 30  Master                  191272 non-null  int64
 31  Other                   191272 non-null  int64
 32  Unknown                 191272 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(18), object(10)
memory usage: 49.6+ MB

In [286]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47819 entries, 301242 to 292110
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             47819 non-null  object
 1   case_received_date      47819 non-null  datetime64[ns]
 2   case_status             47819 non-null  object
 3   class_of_admission      47819 non-null  object
 4   country_of_citizenship  47819 non-null  object
 5   decision_date           47819 non-null  datetime64[ns]
 6   job_info_job_title      47819 non-null  object
 7   job_info_education      47819 non-null  object
 8   agent_state             47819 non-null  object
 9   agent_city              47819 non-null  object
 10  processing_days         47819 non-null  int64
 11  job_category            47819 non-null  object
 12  job_Analyst             47819 non-null  int64
 13  job_Education           47819 non-null  int64
 14  job_Engineering         47819 non-null  int64
 15  job_Healthcare          47819 non-null  int64
 16  job_Management          47819 non-null  int64
 17  job_Other               47819 non-null  int64
 18  job_Science             47819 non-null  int64
 19  job_Technician          47819 non-null  int64
 20  job_title_freq          47819 non-null  float64
 21  agent_city_freq         47819 non-null  float64
 22  agent_state_tgt         47819 non-null  float64
 23  citizenship             47819 non-null  float64
 24  visa_type               47819 non-null  float64
 25  edu_simple              47819 non-null  object
 26  Associate               47819 non-null  int64
 27  Bachelor                47819 non-null  int64
 28  Doctorate               47819 non-null  int64
 29  High_School             47819 non-null  int64
 30  Master                  47819 non-null  int64
 31  Other                   47819 non-null  int64
 32  Unknown                 47819 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(16), object(10)
memory usage: 12.4+ MB

In [287]:
test_df.drop(['case_number','case_received_date','class_of_admission','country_of_citizenship','decision_date',
               'job_info_job_title','job_info_education','case_status',
               'agent_state','agent_city',
               'edu_simple','job_category'],axis=1,inplace=True)

In [288]:
train_df.drop(['case_number','case_received_date','class_of_admission','country_of_citizenship','decision_date',
               'job_info_job_title','job_info_education','case_status',
               'agent_state','agent_city',
               'edu_simple','job_category'],axis=1,inplace=True)

In [289]:
train_df

,processing_days,job_Analyst,job_Education,job_Engineering,job_Healthcare,job_Management,job_Other,job_Science,job_Technician,job_title_freq,...,agent_state_tgt,citizenship,visa_type,Associate,Bachelor,Doctorate,High_School,Master,Other,Unknown
307194,115,0,0,1,0,0,0,0,0,3,...,169.113092,196.031157,204.369608,0,0,0,0,1,0,0
218429,566,0,0,0,0,1,0,0,0,1,...,236.964303,204.669399,204.369608,0,1,0,0,0,0,0
262451,169,0,0,0,0,0,0,1,0,1,...,154.685014,204.669399,204.369608,0,0,0,0,1,0,0
214400,198,0,0,1,0,0,0,0,0,9,...,286.235890,204.669399,204.369608,0,0,0,0,1,0,0
236225,192,0,0,1,0,0,0,0,0,573,...,162.909016,202.248992,204.369608,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255150,184,0,0,1,0,0,0,0,0,2414,...,169.113092,204.669399,235.311816,0,0,0,0,1,0,0
238965,178,0,0,1,0,0,0,0,0,29,...,162.909016,204.669399,203.767068,0,1,0,0,0,0,0
267203,151,0,0,1,0,0,0,0,0,2,...,145.073413,204.669399,204.369608,0,0,0,0,1,0,0
282138,176,0,0,1,0,0,0,0,0,696,...,162.909016,204.669399,204.369608,0,0,0,0,1,0,0
257229,172,0,0,1,0,0,0,0,0,1,...,162.909016,204.669399,203.703428,0,0,0,0,1,0,0

In [290]:
test_df

,processing_days,job_Analyst,job_Education,job_Engineering,job_Healthcare,job_Management,job_Other,job_Science,job_Technician,job_title_freq,...,agent_state_tgt,citizenship,visa_type,Associate,Bachelor,Doctorate,High_School,Master,Other,Unknown
301242,124,0,0,1,0,0,0,0,0,1348.0,...,143.572952,196.031157,204.369608,0,0,0,0,1,0,0
165625,152,0,0,0,0,1,0,0,0,31.0,...,268.131551,196.645956,203.767068,0,1,0,0,0,0,0
266628,2204,0,0,0,0,0,1,0,0,1.0,...,185.351464,406.452991,290.049102,0,0,0,0,0,0,1
285759,138,0,0,1,0,0,0,0,0,11878.0,...,185.351464,191.002562,204.369608,0,0,0,0,1,0,0
136685,531,0,0,1,0,0,0,0,0,76.0,...,286.235890,200.345720,204.369608,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208016,211,1,0,0,0,0,0,0,0,1677.0,...,236.964303,204.669399,204.369608,0,0,0,0,1,0,0
169687,148,1,0,0,0,0,0,0,0,0.0,...,278.061245,204.669399,204.369608,0,1,0,0,0,0,0
219594,146,0,0,0,0,0,1,0,0,969.0,...,236.964303,219.670089,235.311816,0,0,0,0,0,0,1
303280,116,0,0,0,0,1,0,0,0,7.0,...,154.685014,219.670089,230.588696,0,1,0,0,0,0,0
292110,126,0,0,0,0,0,1,0,0,1.0,...,162.909016,219.670089,203.703428,0,0,0,0,0,0,1